.home-wrapper {
  width: 100%;
}

.heroSection {
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;
  width: 100%;
}
  
.nameAboutWrapper{
  width: 85%;
}
  
.fullName {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.7rem;
  font-weight: 500;
}
  
.fullName p {
  margin: 0 0 .5rem;
  text-align: left;
}
  
.about {
  font-size: 1rem;
  text-align: center;
  margin: 3.5rem 0 0;
}

.socialWrapper {
  padding: 4rem 1rem 0;
}

.socialWrapper a {
  margin: 1rem;
}
  
.social {
  font-size: 1.8rem;
  flex-basis: 15%;
}

.linkedin,
.github {
  color: var(--white);
  cursor: pointer;
}

.linkedin:hover,
.github:hover {
  color: var(--gold);
}

.featured-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--black2);
  color: var(--white);
  padding: 5rem 0 5rem;
}

.featured-container h2 {
  font-size: 2rem;
  margin-bottom: 2.5rem;
}

.featured-container h3 {
  font-size: 1.1rem;
  font-weight: 400;
  padding: 0 2rem;
  margin-bottom: 4rem;
}
  
@media (min-width: 411px) {

  .fullName {
    font-size: 3.4rem;
  }
  
  .about {
    font-size: 1.05rem;
  }

  .social {
    font-size: 2.2rem;
  }
}
  
@media (min-width: 768px) {

  .nameAboutWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

  }

  .fullName {
    font-size: 3.6rem;
  }

  .about {
    margin: 0;
    width: 17rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;
  }
  
  .social {
    flex-basis: 4rem;
  }
} 
  
@media (min-width: 1024px) {

  .fullName {
    font-size: 5rem;
  }

  .about {
    width: 20rem;
    font-size: 1.4rem;   
  }

  .social {
    font-size: 2.5rem;
  }

  .featured-wrapper {
    display: flex;
  }

  .featured-container h3 {
    font-size: 1.2rem
  }

}
  
@media (min-width: 1440px) {

  .nameAboutWrapper{
    width: 90%;
    margin-top: 2rem;
  }

  .fullName {
    font-size: 8rem;
  }

  .about {
    width: 23rem;
    font-size: 1.6rem;   
    padding-bottom: 3rem;
  }

  .socialWrapper{
    padding: 4.5rem 0 0;
  }

  .social {
    font-size: 2.7rem;
    flex-basis: 5rem;
  }
}
  
@media (min-width: 1877px) {
  
  .nameAboutWrapper{
    width: 70%;
  }
}