.card-container  {
    border: 1px solid var(--gold);
    width: 20rem;
    height: 20rem;
    margin: 1rem 0 1rem;
    color: var(--white);
    position: relative;
}

.img-container {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -1;
}

.img-container img{
    width: 100%;
    height: auto;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.795);
    transition: .5s ease;
    
}
.card-container:hover .text-container{
    height: 75%;
}

.project-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    height: 25%;
    background-color: rgba(0, 0, 0, 0.795);
}

.arrow-down {
    font-size: 1.4rem;
}

.title {
    font-size: 1.1rem;
    padding: 1rem 1rem 0.5rem;
}

.description {
    padding: 1rem;
}

.repo-links {
    padding: 0rem 0rem 1rem;
}

.github {
    width: 2rem;
    height: auto;
}