.card-wrapper {    
    width: 19rem;
    height: 23rem;
    margin: 1rem;
    color: var(--white);
    position: relative;
    border-radius: 5px;
    box-shadow: -1px -1px 10px 0px rgba(0, 0, 0, 0.555), 1px 1px 5px rgba(0, 0, 0, 0.555);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-shadow: rgba(0, 0, 0, 0.233) 1px 3px 5px 1px, rgba(0, 0, 0, 0.233) -1px 3px 5px 1px;
    background-color: rgba(0, 0, 0, 0.151);
}

.img-wrapper{
    width: 100%;
    height: auto;
    
}

.img-wrapper img {
    width: 100%;
    border-radius: 5px 5px 0 0 ;
}

.description-wrapper{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 0;
    width: 100%;
    overflow: hidden;
    transition: .3s ease;
    background-color: rgba(47, 48, 51, 0.877);
    border-radius: 5px 5px 0 0;
    text-align: center;
    -webkit-transform: translate(0%, -100%);
    -ms-transform: translate(0%, -100%);
    transform: translate(0%, -100%);
}

.card-wrapper:hover .description-wrapper {
    height: 84%;
}

.title {
    padding-top: 0.8rem;
    font-size: 1.2rem;
    color: rgb(235, 235, 235);
}

.description {
    font-size: 1.1rem;
    padding: 0 1rem 3rem;
    
}

.project-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.github {
    width: 2rem;
    height: auto;
}

.card-anchor {
    text-decoration: none;
}

.card-anchor:link,    
.card-anchor:visited {
    color: black;
}

button {
    padding: 0.4rem;
    border: none;
    border-radius: 2px;
}

button:hover{
    background-color: var(--gold);
}

.project-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

@media (min-width: 411px) {
    .card-wrapper {    
        width: 22rem;
        height: 26rem;
        margin: 1rem;
    }

    .card-wrapper:hover .description-wrapper {
        height: 86%;
    }
}