.skills {
    background-color: var(--black2);
    color: white;
    padding: 5rem 0;
}

.skills h2 {
    font-size: 2rem;
    padding-bottom: 2.5rem;
}

.skills-logo img {
    height: 50px;
    margin: 1rem;
}


.skills-logo img:first-child {
    height: 60px;
}

@media only screen and (min-width: 1024px) {

    .skills-logo img {
        height: 80px;
        margin: 1rem;
    }
    
    .skills-logo img:first-child {
        height: 90px;
        
    }

}