.card-wrapper {    
    width: 19rem;
    height: 23rem;
    margin: 1.5rem 1rem;
    color: var(--white);
    position: relative;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.233) 1px 3px 5px 1px, rgba(0, 0, 0, 0.233) -1px 3px 5px 1px;
    background-color: rgba(0, 0, 0, 0.151);
    background-color: var(--black2);
}

.img-wrapper{
    position: relative;
    width: 100%;
}

.img-wrapper img {
    width: 100%;
    border-radius: 5px 5px 0 0 ;
}

.description-wrapper{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 0;
    width: 100%;
    overflow: hidden;
    transition: .3s ease;
    background-color: rgba(47, 48, 51, 0.877);
    border-radius: 5px 5px 0 0;
    text-align: center;
    -webkit-transform: translate(0%, -100%);
    -ms-transform: translate(0%, -100%);
    transform: translate(0%, -100%);
}

.card-wrapper:hover .description-wrapper {
    height: 24.35rem;
}

.card-wrapper:hover .title {
    color: var(--gold);
}

.title {
    padding-top: 1rem;
    font-size: 1.2rem;
    color: var(--white);
}

.description {
    font-size: 1.1rem;
    padding: 0 1rem 3rem;
    
}

.project-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.github {
    width: 2rem;
    height: auto;
}

.btn {
    cursor: pointer;
}

.card-anchor,
.card-anchor:link,    
.card-anchor:visited {
    color: black;
    text-decoration: none;
}

.project-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

@media (min-width: 375px) {
    .card-wrapper {    
        width: 22.5rem;
        height: 27rem;  
    }
}

@media (min-width: 411px) {
    .card-wrapper {    
        width: 24rem;
        height: 28.5rem;  
    }
}

@media (min-width: 1024px) {
    .card-wrapper {  
        margin: 1.5rem;
    }
}