.heroSection {
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    width: 100%;
  }
  
.nameAboutWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
}
  
.fullName {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  padding-top: 4rem;
}
  
.fullName p {
  margin: 0 0 .5rem;
  text-align: left;
}
  
.about {
  font-size: 1rem;
  text-align: center;
  margin: 3.5rem 0 0;
}

.socialWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 4rem 0 7rem;
}
  
.social {
  font-size: 1.8rem;
  flex-basis: 15%;
}

.linkedin,
.github,
.codepen {
  color: var(--white);
  cursor: pointer;
}

.linkedin:hover,
.github:hover,
.codepen:hover {
  color: var(--gold);
}
  
@media (min-width: 375px) {

  .fullName {
    font-size: 3rem;
  }
  
  .about {
    font-size: 1.05rem;
  }

  .social {
    font-size: 2.2rem;
  }

}
  
@media (min-width: 600px) {
  .fullName{
    font-size: 3.6rem;
  }
}
  
@media (min-width: 768px) {

  .heroSection {
    padding-top: 7rem;
  }

  .nameAboutWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

  }

  .fullName {
    font-size: 3.6rem;
    padding: 0;
  }

  .about {
    margin: 0;
    width: 17rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;
  }

  .socialWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 4rem 0 7rem;

  }

  .social {
    flex-basis: 4rem;
  }
}
  
@media (min-width: 1024px) {

  .fullName {
    font-size: 5rem;
  }

  .about {
    width: 20rem;
    font-size: 1.4rem;   
  }

  .social {
    font-size: 2.5rem;
    flex-basis: 4.5rem;
  }

  .name:hover,
  .surname:hover,
  .about:hover {
    color: var(--gold);
    cursor: default;
  }

  .footer:hover {
    color: var(--white);
    cursor: default;
  }
}
  
@media (min-width: 1440px) {

  .nameAboutWrapper{
    width: 90%;
    margin-top: 2rem;
  }

  .fullName {
    font-size: 8rem;
  }

  .about {
    width: 23rem;
    font-size: 1.6rem;   
    padding-bottom: 3rem;
  }

  .socialWrapper{
    padding: 4.5rem 0 7rem;
  }

  .social {
    font-size: 2.7rem;
    flex-basis: 5rem;
  }
}
  
@media (min-width: 1877px) {
  
  .nameAboutWrapper{
    width: 70%;

  }
}