
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  position: absolute;
  top: 3rem;
    
}

.nav-wrapper {
  display: flex;
  cursor: pointer;
}

nav ul{
  padding: 0;
    
}

.nav-wrapper li {
  list-style-type: none;
  font-size: .8rem;
  width: 6.2rem;
  color: var(--gold)
}

.nav-wrapper li:hover{
  color: var(--white);
}

ul li ul li {
  color: var(--white);
  padding: 0.8rem;
}

ul li ul li:hover {
  color: var(--gold);
  padding: 0.8rem;
}

nav ul li ul {
  display: none;
}

nav ul li:hover ul {
  display: block;
}