.social-container {
    margin-bottom: 2rem;
}

.social-media-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.social-media-wrapper  a{
    margin: .5rem 2rem;
    transition: all .3s ease-in-out;
    font-weight: bold;
}

.social-media-wrapper  a:hover svg{
    fill: var(--gold);
}
