:root {
  --black: rgb(47, 48, 51);
  /* --black: #0e0e0e;
  --black2: rgba(44, 44, 44, 0.966);
  /* --black2: #0e0e0ef3;
  /* --black2: rgba(85, 88, 99, 0.966); */
  --white: #f8f8f8;
  --gold: rgb(200,165,106);
}
  
* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background: var(--black2);
}

::-webkit-scrollbar-thumb {
  background: var(--gold);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--white);
  
}


@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@300;400;600&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  padding: 0.7rem;
  border: none;
  border-radius: 5px;
}

button:hover{
  background-color: var(--gold);
}
  