:root {
  --black: rgb(47, 48, 51);
  --white: #f8f8f8;
  --gold: rgb(200,165,106);
}
  
* {
  box-sizing: border-box;
  margin: 0;
}


::-webkit-scrollbar {
  width: 0.5rem;
  background: var(--black);
}

::-webkit-scrollbar-thumb {
  background: var(--gold);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--white);
  
}


@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@300;400;600&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

  