* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@300;400;600&display=swap');
body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(51,52,55);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 0;
}

nav p {
  flex-basis: 25%;
  font-size: .8rem;
  color: rgb(200,165,106);
  color: #FFFFFF;
  color: rgb(200,165,106);
}

.heroSection {
  color: #FFFFFF;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fullName {
  font-size: 2.6rem;
  width: 85%;
}

.fullName p {
  margin: 0 0 .5rem;
  text-align: left;
  
}

.aboutWrapper {
  width: 85%;
}

.about {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  text-align: right;
  margin: 2rem 0 0;
}

.socialWrapper {
  display: flex;
  width: 85%;
  margin-top: 2rem;
}

.social {
  font-size: 1.7rem;
  flex-basis: 15%;
}

/*font-family: 'Josefin Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;*/
